docs/tcesp/xsd/execucao/AUDESP4_EXECUCAO_2026_A.XSD

<?xml version="1.0" encoding="ISO-8859-1"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:gen="http://www.tce.sp.gov.br/audesp/xml/generico"
    xmlns:tag="http://www.tce.sp.gov.br/audesp/xml/tagcomum"
    xmlns="http://www.tce.sp.gov.br/audesp/xml/execucao"
    targetNamespace="http://www.tce.sp.gov.br/audesp/xml/execucao" elementFormDefault="qualified"
    attributeFormDefault="unqualified" version="1.0" xml:lang="pt-BR">
    
    <xs:import namespace="http://www.tce.sp.gov.br/audesp/xml/generico"
        schemaLocation="../generico/AUDESP_TIPOSGENERICOS_2026_A.XSD"/>
    
    <xs:import namespace="http://www.tce.sp.gov.br/audesp/xml/tagcomum"
        schemaLocation="../tagcomum/AUDESP4_COMUM_2026_A.XSD"/>
    
    
    <!-- ========================================================================= -->
    <xs:annotation>
        <xs:documentation>
            <DataCriacao>2026-01-12</DataCriacao>
            <DataModificacao>2026-01-12</DataModificacao>
            <VersaoRevisaoAnterior>2025_A</VersaoRevisaoAnterior>
            <VersaoRevisaoNova>2026_A</VersaoRevisaoNova>
            <Descricao>XSD Execução Contratual</Descricao>
            <Justificativa>XSD Execução Contratual</Justificativa>
            <Autor>DSIS</Autor>
        </xs:documentation>
    </xs:annotation>
    
    
    <!-- ========================================================================= -->
    <!-- /root -->
    
    <xs:element name="Execucao">
        
        <!-- ========================================================================= -->
        <xs:complexType>
            <xs:sequence minOccurs="1" maxOccurs="1">
                <xs:element name="Descritor" type="gen:Descritor_t"/>
                <xs:element name="ArrayExecucao" type="ArrayExecucao_t" minOccurs="1" maxOccurs="50"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <!-- ========================================================================= -->
    <xs:complexType name="ArrayExecucao_t">
        <xs:sequence minOccurs="1" maxOccurs="1">
            
            <xs:element name="CodigoAjuste" type="tag:Codigo_t" minOccurs="1"/>
            <xs:choice>
                <xs:element name="ExecucaoComprasServico" type="ExecucaoComprasServico_t" minOccurs="1" maxOccurs="1" />
                <xs:element name="ExecucaoComprasServicoTI" type="ExecucaoComprasServicoTI_t" minOccurs="1" maxOccurs="1" />
                <xs:element name="ExecucaoObrasEngenharia" type="ExecucaoObrasEngenharia_t" minOccurs="1" maxOccurs="1" />
            </xs:choice>
            
        </xs:sequence>
    </xs:complexType>
    
    
    <!-- ========================================================================= -->
    <xs:complexType name="ExecucaoComprasServico_t">
        <xs:complexContent>
            <xs:extension base="ExecucaoComum_t" >
                <xs:sequence>
                    <!-- Dados Físicos >> Dados da Execução-->
                    <xs:element name="ExecucaoFornecimentoObjetoContratual" type="tag:Fornecimento_t" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="ObjetoDecorrenteImportacao" type="tag:SimNao_t" minOccurs="0" maxOccurs="1"/>
                    <!-- Dados Físicos >> Responsável pelo recebimento -->
                    <!-- Para Tipo de objeto = Compras e Serviços ou Obras de Engenharia  -->
                    <xs:element name="ResponsavelRecebimento" type="tag:Responsavel_t" minOccurs="0"   maxOccurs="unbounded"/>
                    <!-- Corpo Técnico  -->
                    <xs:choice minOccurs="0">
                        <!-- Para Tipo de objeto = Compras e Serviços e Compras e Serviços TI  -->
                        <xs:element name="PrestacaoServicoNao" type="tag:NaoNaoseAplica_t" minOccurs="1" maxOccurs="1"/>
                        <xs:element name="PrestacaoServicoSim" type="ServicoCorpoTecnico_t" minOccurs="1"  maxOccurs="1"/>
                    </xs:choice>
                    <!-- Aba Conferencia/Medicao --> 
                    <xs:choice>
                        <xs:element name="ConferenciaMedicaoSim" type="ConferenciaMedicaoSim_t" minOccurs="0" maxOccurs="1"/>
                        <xs:element name="ConferenciaMedicaoNao" type="tag:Nao_t" minOccurs="0" maxOccurs="1"/>
                    </xs:choice>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>	
    </xs:complexType>		
    
    
    <!-- ========================================================================= -->		
    
    <xs:complexType name="ExecucaoComprasServicoTI_t">
        <xs:complexContent>
            <xs:extension base="ExecucaoComum_t" >
                <xs:sequence>
                    <!-- Dados Físicos >> Dados da Execução-->
                    <xs:element name="ExecucaoFornecimentoObjetoContratual" type="tag:Fornecimento_t" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="ObjetoDecorrenteImportacao" type="tag:SimNao_t" minOccurs="0" maxOccurs="1"/>
                    <!-- Dados Físicos >> Responsável pelo recebimento -->
                    <!-- Para Tipo de objeto = Compras e Serviços de TI  -->
                    <xs:element name="ResponsavelRecebimentoTI" type="tag:ResponsavelTI_t" minOccurs="0"   maxOccurs="unbounded"/>
                    <!-- Corpo Técnico  -->
                    <xs:choice minOccurs="0">
                        <!-- Para Tipo de objeto = Compras e Serviços e Compras e Serviços TI  -->
                        <xs:element name="PrestacaoServicoNao" type="tag:NaoNaoseAplica_t" minOccurs="1" maxOccurs="1"/>
                        <xs:element name="PrestacaoServicoSim" type="ServicoCorpoTecnico_t" minOccurs="1"  maxOccurs="1"/>
                    </xs:choice>
                    
                    <!-- Aba Conferencia/Medicao --> 
                    <xs:choice>
                        <xs:element name="ConferenciaMedicaoSim" type="ConferenciaMedicaoSimTI_t" minOccurs="0" maxOccurs="1"/>
                        <xs:element name="ConferenciaMedicaoNao" type="tag:Nao_t" minOccurs="0" maxOccurs="1"/>
                    </xs:choice>
                    
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <!-- ========================================================================= -->
    
    <xs:complexType name="ExecucaoObrasEngenharia_t">
        <xs:complexContent>
            <xs:extension base="ExecucaoComum_t" >
                <xs:sequence> 
                    <!-- Dados Físicos >> Responsável pelo recebimento -->
                    <!-- Para Tipo de objeto = Compras e Serviços ou Obras de Engenharia  -->
                    <xs:element name="ResponsavelRecebimento" type="tag:Responsavel_t" minOccurs="0"   maxOccurs="unbounded"/>
                    <!-- Corpo Técnico  -->
                    <!-- Para Tipo de objeto = Obras de Engenharia  -->
                    <xs:element name="ObrasCorpoTecnico" type="ObrasCorpoTecnico_t" minOccurs="0"  maxOccurs="1"/>
                    <!-- Aba Conferencia/Medicao -->
                    <xs:choice>
                        <xs:element name="ConferenciaMedicaoSim" type="ConferenciaMedicaoSim_t" minOccurs="0" maxOccurs="1"/>
                        <xs:element name="ConferenciaMedicaoNao" type="tag:Nao_t" minOccurs="0" maxOccurs="1"/>
                    </xs:choice>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>			
    </xs:complexType>
    
    
    <!-- ========================================================================= -->
    
    <xs:complexType name="ExecucaoComum_t">
        <xs:sequence>
            <!-- Dados Físicos >> Dados da Execução -->
            <!-- Campo situação do ajuste no Modulo Execução - Aba Dados fisicos - bloco Dados da Execução  -->
            <xs:element name="SituacaoDoAjuste" type="tag:SituacaoAjuste_t" minOccurs="0"/>
            <xs:element name="DataDeEntrega" type="tag:ValidaData_t" minOccurs="0"/>
           
            
            <!-- Dados Físicos >> Cronograma -->
            <xs:choice minOccurs="0" maxOccurs="1">
                <xs:element name="ExecucaoAcordoCronogramaSim" type="tag:Sim_t" minOccurs="1"/>
                <xs:element name="ExecucaoAcordoCronogramaNao" type="tag:AcordoCronogramaNao_t" minOccurs="1" maxOccurs="1"/>
            </xs:choice>
            <xs:choice>
                <xs:element name="ObraPublicaEstaParalisadaSim" type="tag:ParalisadaSim_t" minOccurs="1"  maxOccurs="1"/>
                <xs:element name="ObraPublicaEstaParalisadaNao" type="tag:Nao_t" minOccurs="1"  maxOccurs="1"/>
                <xs:element name="ObraPublicaEstaParalisadaNaoObra" type="tag:NaoObra_t" minOccurs="1"  maxOccurs="1"/>
            </xs:choice>
            
            <!-- Dados Físicos >> Forma de Recebimento -->
            <xs:element name="FormaRecebimento" type="tag:FormaRecebimento_t" minOccurs="0" maxOccurs="1"/>
            <xs:element name="FormaRecebimentoDt" type="tag:ValidaData_t" minOccurs="0" maxOccurs="1"/>
            <xs:element name="ExisteTermoAssinadoPelasPartes" type="tag:SimNao_t" minOccurs="0"  maxOccurs="1"/>
            <xs:element name="ExisteVistoriaComproveAdequacaoObjeto" type="tag:SimNao_t" minOccurs="0"  maxOccurs="1"/>
            
            
            <!-- Dados Físicos >> Inexecução do Contrato -->
            <xs:choice>
                <xs:element name="InexecucaoTotal" type="tag:InexecucaoTotal_t" minOccurs="1" maxOccurs="1"/>
                <xs:element name="InexecucaoParcial" type="tag:InexecucaoParcial_t" minOccurs="1" maxOccurs="1"/>
                <xs:element name="InexecucaoNao" type="tag:Nao_t" minOccurs="1" maxOccurs="1"/>
            </xs:choice>
           
            
            <!-- Aba: Dados Financeiros  -->
            <xs:choice>
                <xs:element name="LiquidacaoDocSimilarSim" type="LiquidacaoDocSimilarSim_t"  minOccurs="0" maxOccurs="unbounded"/>
                <xs:element name="LiquidacaoDocSimilarNao" type="tag:Nao_t" minOccurs="0" maxOccurs="1" />
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    
    <!-- ========================================================================= -->
    
    <xs:complexType name="ObrasCorpoTecnico_t">
        <xs:sequence>
            <xs:element name="ResponsavelObraCorrespondeContrato" type="tag:SimNaoAplica_t" minOccurs="0" maxOccurs="1"/>
            <xs:element name="ContratadaMantemPrepostoNaObra" type="tag:SimNaoAplica_t" minOccurs="0" maxOccurs="1"/>
            <xs:element name="FiscalCredenciadoCREA-Lei86666-93-art-67" type="tag:SimNaoAplica_t" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    
    <!-- ========================================================================= -->
    
    <xs:complexType name="ServicoCorpoTecnico_t">
        <xs:sequence>
            <xs:element name="PrestacaoServico" fixed="S" type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="HouveTransferencia" type="tag:SimNaoAplica_t" minOccurs="0" maxOccurs="1" />
            <xs:element name="MONumeroEmpregadoEstabelecidoEdital" type="tag:SimNaoAplica_t"  minOccurs="0"  maxOccurs="1" />
            <xs:element name="ExisteControleServicoPrestado" type="tag:SimNaoAplica_t" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    
    <!-- ========================================================================= -->
    <!-- Para Tipo de objeto = Compras e Serviços ou Obras de Engenharia  -->
    <xs:complexType name="ConferenciaMedicaoSim_t">
        <xs:sequence>
            <xs:element name="NumeroMedicao" type="tag:InteiroPositivo_t" minOccurs="1"  maxOccurs="1"  />
            <xs:element name="ConferenciaDt" type="tag:ValidaData_t" minOccurs="1" maxOccurs="1"  />
            <xs:element name="PercentualExecucao" type="tag:PercentualPositivo_t" minOccurs="1" maxOccurs="1" />
            <xs:element name="HouveSupressaoObraBensServico" type="tag:SimNaoAplica_t" minOccurs="0" maxOccurs="1" />
            <!-- Aba Conferencia/Medicao >> Bloco Responsáveis  -->
            <xs:element name="ResponsavelRecebimentoMedicao" type="tag:Responsavel_t" minOccurs="0"   maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    
    
    <!-- ========================================================================= -->
    <!-- Para Tipo de objeto = Compras e Serviços de TI  -->
    <xs:complexType name="ConferenciaMedicaoSimTI_t">
        <xs:sequence>
            <xs:element name="NumeroMedicao" type="tag:InteiroPositivo_t" minOccurs="1"  maxOccurs="1"  />
            <xs:element name="ConferenciaDt" type="tag:ValidaData_t" minOccurs="1" maxOccurs="1"  />
            <xs:element name="PercentualExecucao" type="tag:PercentualPositivo_t" minOccurs="1" maxOccurs="1" />
            <xs:element name="HouveSupressaoObraBensServico" type="tag:SimNaoAplica_t" minOccurs="0" maxOccurs="1" />
            <!-- Aba Conferencia/Medicao >> Bloco Responsáveis  -->
            <xs:element name="ResponsavelRecebimentoMedicaoTI" type="tag:ResponsavelTI_t" minOccurs="0"   maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    
    <!-- ========================================================================= -->
       
    <xs:complexType name="LiquidacaoDocSimilarSim_t">
        <xs:sequence>
            <xs:element name="NotaEmpenhoNumero" type="tag:StringAte35_t" minOccurs="1"    maxOccurs="1"/>
	<xs:element name="NotaEmpenhoDataEmissao" type="tag:ValidaData_t" minOccurs="1" maxOccurs="1"/>
            <xs:element name="LiquidacaoEmpenhoDt" type="tag:ValidaData_t" minOccurs="1" maxOccurs="1"/>
            <xs:element name="LiquidacaoEmpenhoValor" type="tag:DecimalMaiorQueZero17-2_t" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    
    <!-- ========================================================================= -->
    
</xs:schema>

