docs/tcesp/xsd/empenho/AUDESP4_EMPENHO_2026_A.XSD

<?xml version="1.0" encoding="ISO-8859-1"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
   xmlns:gen="http://www.tce.sp.gov.br/audesp/xml/generico"
   xmlns:tag="http://www.tce.sp.gov.br/audesp/xml/tagcomum"
   xmlns="http://www.tce.sp.gov.br/audesp/xml/empenho"
   targetNamespace="http://www.tce.sp.gov.br/audesp/xml/empenho" elementFormDefault="qualified"
   attributeFormDefault="unqualified" version="1.0" xml:lang="pt-BR">

   <xs:import namespace="http://www.tce.sp.gov.br/audesp/xml/generico"
      schemaLocation="../generico/AUDESP_TIPOSGENERICOS_2026_A.XSD"/>

   <xs:import namespace="http://www.tce.sp.gov.br/audesp/xml/tagcomum"
      schemaLocation="../tagcomum/AUDESP4_COMUM_2026_A.XSD"/>


   <!-- ========================================================================= -->
   <xs:annotation>
      <xs:documentation>
         <DataCriacao>2026-01-12</DataCriacao>
         <DataModificacao>2026-01-12</DataModificacao>
         <VersaoRevisaoAnterior>2025_A</VersaoRevisaoAnterior>
         <VersaoRevisaoNova>2026_A</VersaoRevisaoNova>
         <Descricao>XSD Empenho</Descricao>
         <Justificativa>XSD Empenho</Justificativa>
         <Autor>DSIS</Autor>
      </xs:documentation>
   </xs:annotation>
   <!-- ========================================================================= -->
   <!-- /root -->

   <xs:element name="Empenho">

   <!-- ========================================================================= -->
   <!-- root -->
   <xs:complexType>
      <xs:sequence>
         <xs:element name="Descritor" type="gen:Descritor_t"/>
         <xs:element name="ArrayNovoEmpenho" type="ArrayNovoEmpenho_t" minOccurs="1" maxOccurs="50"/>
      </xs:sequence>
   </xs:complexType>
   </xs:element>
   <xs:complexType name="ArrayNovoEmpenho_t">
      <xs:sequence>
         <xs:sequence minOccurs="1" maxOccurs="1">        
            <xs:element name="CodigoAjuste" type="tag:Codigo_t" minOccurs="1" maxOccurs="1"/>
            <xs:element name="Empenho" type="tag:Empenho_t" minOccurs="1" maxOccurs="1"/>
         </xs:sequence>
      </xs:sequence>
   </xs:complexType>

   <!-- ========================================================================= -->

</xs:schema>

