docs/tcesp/xsd/termoaditivo/AUDESP4_TERMOADITIVO_2026_A.XSD

<?xml version="1.0" encoding="ISO-8859-1"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
   xmlns:gen="http://www.tce.sp.gov.br/audesp/xml/generico"
   xmlns:tag="http://www.tce.sp.gov.br/audesp/xml/tagcomum"
   xmlns="http://www.tce.sp.gov.br/audesp/xml/termoaditivo"
   targetNamespace="http://www.tce.sp.gov.br/audesp/xml/termoaditivo" elementFormDefault="qualified"
   attributeFormDefault="unqualified" version="1.0" xml:lang="pt-BR">



   <xs:import namespace="http://www.tce.sp.gov.br/audesp/xml/generico"
      schemaLocation="../generico/AUDESP_TIPOSGENERICOS_2026_A.XSD"/>

   <xs:import namespace="http://www.tce.sp.gov.br/audesp/xml/tagcomum"
      schemaLocation="../tagcomum/AUDESP4_COMUM_2026_A.XSD"/>

 
   <!-- ========================================================================= -->
   <xs:annotation>
      <xs:documentation>
         <DataCriacao>2026-01-12</DataCriacao>
          <DataModificacao>2026-01-12</DataModificacao>
         <VersaoRevisaoAnterior>2025_A</VersaoRevisaoAnterior>
         <VersaoRevisaoNova>2026_A</VersaoRevisaoNova>
         <Descricao>XSD TERMO ADITIVO</Descricao>
         <Justificativa>XSD TERMO ADITIVO</Justificativa>
         <Autor>DSIS</Autor>
      </xs:documentation>
   </xs:annotation>
   <!-- ========================================================================= -->
   <!-- root -->

   <xs:element name="TermoAditivo">

   <!-- ========================================================================= -->
   <xs:complexType>
      <xs:sequence minOccurs="1" maxOccurs="1">
         <xs:element name="Descritor" type="gen:Descritor_t"/>
         <xs:element name="ArrayTermoAditivo" type="ArrayTermoAditivo_t" minOccurs="1" maxOccurs="50"/>
      </xs:sequence>
   </xs:complexType>
   </xs:element>

   <xs:complexType name="ArrayTermoAditivo_t">
      <xs:sequence minOccurs="1" maxOccurs="1">
        
        <xs:element name="CodigoAjuste" type="tag:Codigo_t" minOccurs="1" maxOccurs="1" />
        
         <!-- Aba Identificação do Termo Aditivo - Identificação do Termo Aditivo -->
		<xs:element name="TermoAditivoCodigo" type="tag:CodigoTermo_t" minOccurs="1" maxOccurs="1"/>
		<xs:element name="TermoAditivoNumero" type="tag:StringAte08_t" minOccurs="1" maxOccurs="1"/>
		<xs:element name="TermoAditivoAno" type="tag:Ano4_t" minOccurs="1" maxOccurs="1"/>
		<xs:element name="TermoAditivoValor" type="tag:Decimal17-2_t" minOccurs="1" maxOccurs="1" />
		<xs:element name="TermoAditivoObjeto" type="tag:StringAte1000_t" minOccurs="1" maxOccurs="1"/>
		<xs:element name="TermoAditivoTipo" type="tag:TipoTermoAditivo_t" minOccurs="1" maxOccurs="unbounded"/>

         <!-- Aba Identificação do Termo Aditivo - Justificativa  -->
         <xs:choice minOccurs="0">
            <xs:element name="TermoAditivoJustificativaSim" type="TermoAditivoJustificativaSim_t" minOccurs="1" maxOccurs="1" />
            <xs:element name="TermoAditivoJustificativaNao" type="tag:Nao_t" minOccurs="1" maxOccurs="1" />
         </xs:choice>

         <!-- Aba Vigencia -->
		<xs:element name="TermoAditivoInicioVigenciaDt" type="tag:ValidaData_t" minOccurs="1" maxOccurs="1" />
		<xs:element name="TermoAditivoFimVigenciaDt" type="tag:ValidaData_t" minOccurs="1" maxOccurs="1" />
		<xs:element name="TermoAditivoAssinaturaDt" type="tag:ValidaData_t" minOccurs="1" maxOccurs="1"/>

         <!-- Aba Financeiro -->
         <!-- Nota de Empenho - lista de empenhos -->
         <xs:choice>
            <xs:element name="NotaEmpenhoDocSimilarNao" type="tag:Nao_t" minOccurs="1" maxOccurs="1"/>
            <xs:element name="NotaEmpenhoDocSimilarSim" type="tag:Empenho_t" minOccurs="1"  maxOccurs="unbounded"/>
         </xs:choice>
        
         <!-- Aba Exigencia e Clausulas --> 
         <xs:element name="PossuiExigenciaGarantia" type="tag:SimNao_t" minOccurs="1" maxOccurs="1"/>
		  <!--Existe autorização para assinatura autorização do termo aditivo -->
		  <xs:choice minOccurs="0">
			<xs:element name="AutorizacaoAssinaturaNao" type="tag:Nao_t" minOccurs="1" maxOccurs="1"  />
			<xs:element name="AutorizacaoAssinaturaSim" type="AutorizacaoAssinaturaSim_t" minOccurs="1" maxOccurs="1" />
          </xs:choice>
		  
		  <!-- Aba Publicações  -->
         <!-- Houve publicação do extrato do Termo Aditivo em veículos de comunicação -->
         <xs:choice minOccurs="0" maxOccurs="1">
            <xs:element name="TermoAditivoPublicacaoSim" type="tag:Publicacao_t" minOccurs="1" maxOccurs="unbounded"/>
            <xs:element name="TermoAditivoPublicacaoNao" type="tag:Nao_t" minOccurs="1" maxOccurs="1"/>
         </xs:choice>
		 
		 
         <!-- Conclusao -->
         <!-- Contratantes para Responsável pelo Contrato  -->
         <xs:element name="TermoCienciaContratantes" type="tag:TermoCiencia_t" minOccurs="1" maxOccurs="unbounded"/>
         <!-- Contratados para Responsável pelo Contrato  -->
         <xs:element name="TermoCienciaContratados" type="tag:TermoCiencia_t" minOccurs="1" maxOccurs="unbounded"/>

      </xs:sequence>
   </xs:complexType>


   <xs:complexType name="TermoAditivoJustificativaSim_t">
      <xs:sequence>
         <xs:element name="JustificativaSim" fixed="S" minOccurs="1" maxOccurs="1"/>
         <xs:element name="JustificativaApresentada" type="tag:StringAte100_t" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
   </xs:complexType>
   
   <xs:complexType name="AutorizacaoAssinaturaSim_t">
      <xs:sequence>
	<xs:element name="AutorizacaoSim" fixed="S" minOccurs="1" maxOccurs="1"/>
	<xs:element name="TermoAditivoAutorizacaoDt" type="tag:ValidaData_t" minOccurs="1"  maxOccurs="1"/>
        </xs:sequence>
   </xs:complexType>	
   
   
   <!-- ========================================================================= -->

</xs:schema>

