docs/tcesp/xsd/exigenciasobras/AUDESP4_EXIGENCIASOBRAS_2026_A.XSD

<?xml version="1.0" encoding="ISO-8859-1"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
   xmlns:gen="http://www.tce.sp.gov.br/audesp/xml/generico"
   xmlns:tag="http://www.tce.sp.gov.br/audesp/xml/tagcomum"
   xmlns="http://www.tce.sp.gov.br/audesp/xml/exigenciasobras"
   targetNamespace="http://www.tce.sp.gov.br/audesp/xml/exigenciasobras"
   elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" xml:lang="pt-BR">

   <xs:import namespace="http://www.tce.sp.gov.br/audesp/xml/generico"
      schemaLocation="../generico/AUDESP_TIPOSGENERICOS_2026_A.XSD"/>

   <xs:import namespace="http://www.tce.sp.gov.br/audesp/xml/tagcomum"
      schemaLocation="../tagcomum/AUDESP4_COMUM_2026_A.XSD"/>

 
   <!-- ========================================================================= -->
   <xs:annotation>
      <xs:documentation>
         <DataCriacao>2026-01-12</DataCriacao>
         <DataModificacao>2026-01-12</DataModificacao>
         <VersaoRevisaoAnterior>2025_A</VersaoRevisaoAnterior>
         <VersaoRevisaoNova>2026_A</VersaoRevisaoNova>
         <Descricao>XSD Exigencias de Obras</Descricao>
         <Justificativa>XSD Exigencias de Obras</Justificativa>
         <Autor>DSIS</Autor>
      </xs:documentation>
   </xs:annotation>

   <!-- ========================================================================= -->
   <!-- /root -->

   <xs:element name="ExigenciasObras">

   <!-- ========================================================================= -->
   <!-- root -->
   <xs:complexType>
      <xs:sequence>
         <xs:element name="Descritor" type="gen:Descritor_t"/>
         <xs:element name="ArrayExigenciasObras" type="ArrayExigenciasObras_t" minOccurs="1" maxOccurs="50"/>
      </xs:sequence>
   </xs:complexType>
   </xs:element>


   <xs:complexType name="ArrayExigenciasObras_t">
      <xs:sequence minOccurs="1" maxOccurs="1">
         <xs:element name="CodigoAjuste" type="tag:Codigo_t" minOccurs="1" maxOccurs="1"/>

         <!-- Aba Exigências de Obras  -->
         <xs:element name="ExisteRelatorioImpactoAmbiental" type="tag:SimNaoAplica_t" minOccurs="0" maxOccurs="1"/>
         <xs:element name="ObraContemplaExigenciasArtigosEstadual-11263-02" type="tag:SimNaoAplica_t" minOccurs="0" maxOccurs="1"/>
         <xs:element name="ConstaAlvaraConstrucaoObra" type="tag:SimNaoAplica_t" minOccurs="0" maxOccurs="1"/>
         <xs:choice minOccurs="0" maxOccurs="1">
            <xs:element name="ObraRodoviariaSaneamentoNao" type="tag:NaoNaoseAplica_t" minOccurs="1" maxOccurs="1"/>
            <xs:element name="ObraRodoviariaSaneamentoSim" type="ObraRodoviariaSaneamentoSim_t" minOccurs="1" maxOccurs="1"/>
         </xs:choice>
         <xs:element name="HouvePadronizacaoTipoClasse-Art-11-Lei-8666-93" type="tag:SimNaoAplica_t" minOccurs="0" maxOccurs="1"/>
         <xs:element name="ExisteAnotacoesResponsabilidadeTecnica-ART" type="tag:SimNaoAplica_t" minOccurs="0" maxOccurs="1"/>
         <xs:element name="DataEmissaoOrdemServico_Dt" type="tag:ValidaData_t" minOccurs="1" maxOccurs="1"/>
     
         <!-- Licença Ambiental -->
         <xs:choice minOccurs="1" maxOccurs="1">
            <xs:element name="LicencaAmbientalNao" type="tag:Nao_t" minOccurs="1" maxOccurs="1"/>
            <xs:element name="LicencaAmbientalSim" type="tag:LicencaAmbiental_t" minOccurs="1" maxOccurs="unbounded"/>
         </xs:choice>
      </xs:sequence>
   </xs:complexType>

   <!-- ========================================================================= -->
   <xs:complexType name="ObraRodoviariaSaneamentoSim_t">
      <xs:sequence>
         <xs:element name="HouveLevantamentoCondicoesFisicasAreasSelecionadas" type="tag:SimNao_t" minOccurs="0" maxOccurs="1"/>
         <xs:element name="AreasSelecionadasAdotadosCriteriosTecnicos-Art-6-IX-Lei-8666-93" type="tag:SimNao_t" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
   </xs:complexType>



   <!-- ========================================================================= -->


</xs:schema>

